.MobileMenu__Button {
  @apply flex md:hidden flex-col items-end w-[25px] relative;
}

.MobileMenu__Button span {
  @apply bg-themeGreen-1 rounded-lg h-[3px] w-full my-[3px];
  transition: .4s  cubic-bezier(0.68, -0.6, 0.32, 1.6);
}

.MobileMenu__Button span:nth-of-type(4) {
  @apply bg-transparent;
}

.MobileMenu__Button--open span:nth-of-type(1) {
  @apply w-[24px];
  transform: rotate(45deg);
  transform-origin: 0px 10px;
}

.MobileMenu__Button--open span:nth-of-type(3) {
  @apply bg-transparent;
  transform: rotate(45deg);
}

.MobileMenu__Button--open span:nth-of-type(2) {
  @apply bg-transparent;
  transform: rotate(-45deg);
}

.MobileMenu__Button--open span:nth-of-type(4) {
  @apply w-[24px] bg-themeGreen-1;
  transform: rotate(-45deg);
  transform-origin: -7px -9px;
}
